<template>
  <div>
    <q-list>
      <q-item-section>
        <q-item v-for="info in deviceInfo" :key="info.label">
          <q-item-section>
            <q-item-label>{{info.label}}</q-item-label>
            <q-item-label>{{info.information}}</q-item-label>
          </q-item-section>
          <q-item-section avatar>
            <q-btn
              v-if="info.label === 'Time '"
              color="primary"
              icon="update"
              clickable
              @click="setTime"
            ></q-btn>
          </q-item-section>
        </q-item>
      </q-item-section>
    </q-list>
    <div>
      <q-btn @click="getAllInformation">
        <q-icon name="get_app" />
      </q-btn>
    </div>
  </div>
</template>

<script>
import miband3 from "../modules/Miband3Module";

export default {
  data() {
    return {
      deviceInfo: [
        {
          label: "Time ",
          information: "",
        },
        {
          label: "Battery ",
          information: "",
        },
        {
          label: "Hardware ",
          information: "",
        },
        {
          label: "Software ",
          information: "",
        },
      ],
      currentDeviceConnected: undefined,
      date: {},
    };
  },
  methods: {
    async getAllInformation() {
      console.log("Device ID: ", miband3.device_id);
      this.currentDeviceConnected = miband3.device_id;
      try {
        if (await this.isConnected()) {
          console.log("Getting time status...");
          let time = await miband3.getTimeStatus();
          console.log("Retreived time status...");
          let battery = await miband3.getBatteryStatus();
          let hardware = await miband3.getHardwareInfo();
          let software = await miband3.getSoftwareInfo();

          this.deviceInfo[0].information = time;
          this.deviceInfo[1].information = battery;
          this.deviceInfo[2].information = hardware;
          this.deviceInfo[3].information = software;
        } else {
          // use notify: https://quasar.dev/quasar-plugins/notify
          console.log("Not connected!");
        }
      } catch (err) {
        console.log(err);
      }
    },
    async setTime() {
      console.log("Setting time...");
      try {
        if (await this.isConnected()) {
          let currentDate = this.getCurrentTime();
          let woowoo = await miband3.setTimeStatus(currentDate);
        } else {
        }
      } catch (err) {
          console.log(err)
      }
    },
    getCurrentTime() {
      let currentTime = new Date();
      return currentTime
    },
    async isConnected() {
      let isConnected = await miband3.isConnected(miband3.device_id);
      return isConnected;
    },
  },
};
</script>

<style scoped>
</style>