<template>
  <div>
    <canvas ref="chart" width="400" height="400"></canvas>
    <div class="flex justify-evenly">
      <q-btn @click="startHeartRateMonitoring" color="deep-orange" push>
        <div class="row items-center no-wrap">
          <q-icon left name="analytics" />
          <div class="text-center">RT HR</div>
        </div>
      </q-btn>
      <q-btn @click="startRawHeartRateMonitoring" color="blue" push>
        <div class="row items-center no-wrap">
          <q-icon left name="analytics" />
          <div class="text-center">RAW HR</div>
        </div>
      </q-btn>
      <q-btn @click="stopHeartRateMonitoring" color="green" push>
        <div class="">
          <q-icon left name="analytics" />
          <div class="text-center">Stop HR</div>
        </div>
      </q-btn>
    </div>
  </div>
</template>

<script>
import Chart from "chart.js";
import miband3 from "../modules/Miband3Module";
export default {
  data() {
    return {
      visible: false,
      myChart: undefined,
      ctx: undefined,
      datasetHR: [],
      counter: 0,
      labels: [],
    };
  },
  mounted() {
    console.log("Creating chart");
    this.createChart();
  },
  methods: {
    async startHeartRateMonitoring() {
      try {
        console.log("Starting HR Monitoring..");
        await miband3.startHRContinuousMonitoring(this.realTimeHRCallback);
      } catch (err) {
        console.log(err);
      }
    },
    realTimeHRCallback(hr) {
      this.datasetHR.push(hr);
      this.labels.push(this.counter++);
      if (this.datasetHR.length > 30) {
        this.datasetHR.shift();
        this.labels.shift();
      }
      this.myChart.update({
        duration: 0,
        easing: "linear",
      });
    },
    async startRawHeartRateMonitoring() {
      await miband3.startRawDataMonitoring(true, false, this.rawHRCallback);
    },
    rawHRCallback(data) {
      for (const ppg of data.data) {
        this.datasetHR.push(ppg);
        this.labels.push(this.counter++);
        if (this.datasetHR.length > 60) {
          this.datasetHR.shift();
          this.labels.shift();
        }
      }
      this.myChart.update({
        duration: 0,
        easing: "linear",
      });
    },
    async stopHeartRateMonitoring() {
      await miband3.stopHRMonitoring();
    },
    createChart() {
      console.log("Creating chart...");
      this.ctx = this.$refs.chart;
      this.myChart = new Chart(this.ctx, {
        type: "line",
        data: {
          labels: this.labels,
          datasets: [
            {
              label: "Heart rate",
              data: this.datasetHR,
              backgroundColor: "rgba(255,99,132,05)",
              borderColor: "rgba(255,99,132,05)",
              borderWidth: 1,
              pointRadius: 1,
              fill: false,
            },
          ],
        },
        options: {
          responsive: true,
          title: {
            display: true,
            text: "RAW",
          },
          scales: {
            xAxes: [
              {
                display: false,
              },
            ],
            yAxes: [
              {
                display: true,
              },
            ],
          },
        },
      });
    },
  },
};
</script>

<style scoped>
</style>