<template>
  <q-page>
    <q-form ref="profileForm">
      <q-input
        v-model="profile.alias"
        label="Alias"
        type="text"
        :rules="[(val) => !!val || 'Enter alias']"
      >
      </q-input>

      <q-input
        v-model="profile.height"
        label="Height"
        type="text"
        :rules="[(val) => !!val && !isNaN(val) || 'Enter height']"
      >
      </q-input>
      <q-input
        v-model="profile.weight"
        label="Weight"
        type="text"
        :rules="[(val) => !!val && !isNaN(val) || 'Enter weight']"
      >
      </q-input>
      <q-select
        type="text"
        v-model="profile.sex"
        :options="sexOptions"
        label="Sex"
        :rules="[(val) => !!val || 'Enter sex']"
      >
      </q-select>
      <q-input
        v-model="profile.birthday"
        type="date"
        :rules="[(val) => !!val || 'Enter birthday']"
      >
      </q-input>
      <div class="q-pa-xl row justify-center items-center">
        <q-btn @click="submitForm" class="bg-light-blue-1" round icon="save"> </q-btn>
      </div>
    </q-form>
  </q-page>
</template>

<style lang="stylus" scoped></style>
<script>
import miband3 from "../modules/Miband3Module";
import CustomDate from "../modules/CustomDate";
import { v5 as uuidv5 } from "uuid";
import { required, email } from "vuelidate/lib/validators";
export default {
  data() {
    return {
      profile: {
        alias: undefined,
        height: undefined,
        weight: undefined,
        birthday: undefined,
        sex: undefined,
      },
      sexOptions: [
        {
          label: "Male",
        },
        {
          label: "Female",
        },
      ],
      customNamespace: "a4cb13d5-1d50-4cd0-a7fd-f5a400cc3e40",
    };
  },
  validations: {
    alias: {
      required,
    },
  },
  methods: {
    async submitForm() {
      this.$refs.profileForm.validate().then((valid) => {
        if(!valid) {
          
        } else {
          this.setUser()
        }
      })
    },
    setUser() {
      console.log(this.profile);
      
      let birthDate = this.profile.birthday.split("-");
      let birthYear = parseInt(birthDate[0]);
      let birthMonth = parseInt(birthDate[1]);
      let birthDay = parseInt(birthDate[2]);
      let height = parseInt(this.profile.height);
      let weight = parseInt(this.profile.weight);
      let sex = this.profile.sex === 'Male' ? false : true;

      let aliasUUID = uuidv5(this.profile.alias, this.customNamespace)
        .replace(/-/g, "")
        .substring(0, 8);
      miband3.setUser(
        height,
        weight,
        birthYear,
        birthMonth,
        birthDay,
        sex,
        aliasUUID
      );
    },
    persist(profile, profileUUID) {
      const parsed = JSON.stringify(profile);
      console.log("Parsed:", parsed);
      localStorage.setItem(profileUUID, parsed);
    },
  },
};
</script>