<template>
  <q-page>
      <Devices v-on:save-devices="persist" v-bind:devices="devices"/>
      <div class="fixed-bottom" style="height: 20%;">
        <div class="row justify-center items-center"><BleButton v-on:add-device="addDevice"/></div>
      </div>
  </q-page>
</template>

<script>
import BleButton from 'components/BleButton.vue'
import Devices from 'components/Devices.vue'

export default {
  name: 'PageIndex',
  components: {
    BleButton,
    Devices
  },

  data () {
    return {
      devices: [
        
      ]
    }
  },

  created() {
    console.log("Search created")
    // this.devices = []
    // this.persist()
    if(localStorage.getItem('devices')) {
      try {
        this.devices = JSON.parse(localStorage.getItem('devices'))
      } catch (err) {
        console.log(err)
      }
    }
  },

  methods: {
    addDevice (newDevice) {
      console.log('Adding device to:', this.devices)
      if(newDevice.name == "Mi Band 3" && this.devices.filter(device => device.id === newDevice.id).length === 0) {
        console.log('Device added')
        this.devices = [...this.devices, newDevice]
        this.persist()
      }
    },
    logDevices () {
      console.log("Logging devices search:", this.devices)
    },
    persist() {
      console.log('Saving device data')
      const parsed = JSON.stringify(this.devices)
      localStorage.setItem('devices', parsed)
    },
    clearDevicesList() {
      console.log('Cleared list...')
      this.devices = []
    }
  }
}
</script>
<style scoped>
</style>