<template>
  <div>
    <canvas ref="chart" width="400" height="400"></canvas>
    <div class="flex justify-evenly">
      <q-btn @click="startRawDataMonitoring" color="deep-orange" push>
        <div class="row items-center no-wrap">
          <q-icon left name="analytics" />
          <div class="text-center">Raw data</div>
        </div>
      </q-btn>
      <q-btn @click="stepCountMonitoring" color="blue" push>
        <div class="row items-center no-wrap">
          <q-icon left name="analytics" />
          <div class="text-center">Step count</div>
        </div>
      </q-btn>
      <q-btn @click="stopRawData" color="green" push>
        <div class="">
          <q-icon left name="analytics" />
          <div class="text-center">Stop Raw data</div>
        </div>
      </q-btn>
    </div>
  </div>
</template>

<script>
import Chart from "chart.js";
import miband3 from "../modules/Miband3Module";
export default {
  data() {
    return {
      myChart: undefined,
      ctx: undefined,
      currentSteps: null,
      datasetX: [],
      datasetY: [],
      datasetZ: [],
      labels: [],
      counter: 0,
    };
  },
  mounted() {
    this.createChart();
  },
  methods: {
    createChart() {
      console.log("Creating chart...");
      this.ctx = this.$refs.chart;
      this.myChart = new Chart(this.ctx, {
        type: "line",
        data: {
          labels: this.labels,
          datasets: [
            {
              label: "X",
              data: this.datasetX,
              backgroundColor: "rgba(255,99,132,05)",
              borderColor: "rgba(255,99,132,05)",
              borderWidth: 1,
              pointRadius: 1,
              fill: false,
            },
            {
              label: "Y",
              data: this.datasetY,
              backgroundColor: "rgba(0,230,0,05)",
              borderColor: "rgba(0,230,0,05)",
              borderWidth: 1,
              pointRadius: 1,
              fill: false,
            },
            {
              label: "Z",
              data: this.datasetZ,
              backgroundColor: "rgba(0,125,255,05",
              borderColor: "rgba(0,125,255,05)",
              borderWidth: 1,
              pointRadius: 1,
              fill: false,
            },
          ],
        },
        options: {
          responsive: true,
          title: {
            display: true,
            text: "RAW",
          },
          scales: {
            xAxes: [
              {
                display: false,
              },
            ],
            yAxes: [
              {
                display: true,
                ticks: {
                  beginAtZero: true,
                },
              },
            ],
          },
        },
      });
    },
    isEmpty(array) {
      array.length > 0 ? false : true;
    },
    async startRawDataMonitoring() {
      await miband3.startRawDataMonitoring(false, true, this.dataCallbackRaw);
    },
    async stepCountMonitoring() {
      await miband3.startStepCountMonitoring(this.dataCallbackSteps);
    },
    async dataCallbackRaw(data, type) {
      if (type === "ACC") {
        if (Array.isArray(data.data)) {
          // Data array contains 3 sample for each x,y,z axis. In total 9 samples.
          console.log("Data:", data);
          for (let i = 0; i < data.data.length; i++) {
            let dataPoint = data.data[i];
            if (i % 3 === 0) {
              this.datasetX.push(dataPoint);
              this.counter++;
              this.labels.push(this.counter);
              if (this.datasetX.length > 30) {
                this.datasetX.shift();
                this.labels.shift();
              }
            }
            if (i % 3 === 1) {
              this.datasetY.push(dataPoint);
              if (this.datasetY.length > 30) {
                this.datasetY.shift();
              }
            }
            if (i % 3 === 2) {
              this.datasetZ.push(dataPoint);
              if (this.datasetZ.length > 30) {
                this.datasetZ.shift();
              }
            }
          }
          this.myChart.update({
            duration: 0,
            easing: "linear",
          });
        }
      }
    },
    dataCallbackSteps(data) {
      console.log("First data:", data);
      if (this.currentSteps === null) {
        console.log("Setting first time");
        this.currentSteps = data.steps;
        this.datasetX.push(0)
        this.labels.push(this.counter++)
        return;
      }
      let stepsSinceLast = data.steps - this.currentSteps;
      console.log(stepsSinceLast);
      this.currentSteps = this.currentSteps + stepsSinceLast;
      console.log(this.currentSteps);
      this.datasetX.push(stepsSinceLast)
      this.labels.push(this.counter++)
      if (this.myChart.data.labels.length > 10) {
        this.datasetX.unshift()
        this.labels.unshift()
      }
      this.myChart.update()
    },
    async stopRawData() {
      await miband3.stopRawNotifications();
    },
  },
  computed: {},
};
</script>

<style scoped>
</style>