<template>
    <q-page>
        <div class="q-pa-md fixed-bottom row justify-center items-center"><q-btn @click="getData" color="primary" icon="get_app">Download</q-btn></div>
    </q-page>
</template>

<script>
import miband3 from "../modules/Miband3Module";
export default {
    data () {
        return {

        }
    },
    methods: {
        getData() {
            let currentDate = new Date()
            let weekOldDate = new Date(currentDate.getTime() - 7 * 24 * 60 * 1000 * 60) 
            miband3.fetchStoredData(weekOldDate, this.dataCallback)
        },
        dataCallback(data) {
            console.log('This is your data:', data)
        }
    }
}
</script>