<template>
    <q-btn push round color="primary" size="lg" icon="search" @click="scan">
    <q-inner-loading :showing="visible">
      <q-spinner-dots size="50px" color="primary" />
    </q-inner-loading>
  </q-btn>
</template>

<script>
import Devices from 'components/Devices.vue'

export default {
  name: "BleButton",
  data() {
    return {
      visible: false,
      scanning: false,
      self: this,
    }
  },
  methods: {
    async scan() {
    this.scanning = !this.scanning
      if (this.scanning) {
        ble.startScan([],
           (device) => {
            console.log(device)
            // Send up to parent
            const newDevice = {
              name: device.name,
              id: device.id,
              connected: false,
              authenticated: false
            }
            this.self.$emit('add-device', newDevice)
           },
          (failure)  => {
            console.log("Failure to start scan.", failure)
          }
        )
      } else {
        ble.stopScan(
          function () {
              console.log("Success stopped scan.")
          },
          function () {
            // Failure
            console.log("Failed to stop scan.")
          }
        )
      }
      this.visible = this.scanning
    },
  }
}
</script>