<template>
  <div>
    <q-list bordered>
      <q-item
        v-for="device in devices"
        :key="device.id"
        clickable
        v-ripple
        @click="connect(device)"
        :id="device.id"
      >
        <q-item-section>{{ device.id }}</q-item-section>
        <q-item-section avatar>
          <q-icon color="primary" name="bluetooth" />
          <q-inner-loading id="loading" :showing="connecting">
            <q-spinner-dots size="50px" color="primary" />
          </q-inner-loading>
        </q-item-section>
      </q-item>
    </q-list>
  </div>
</template>

<script>
import miband3 from "../modules/Miband3Module";
import { v4 as uuidv4 } from "uuid";
import csvExport from "../modules/CSVExport";

export default {
  name: "Devices",
  props: ["devices"],

  data() {
    return {
      deviceKeyPairs: undefined,
      connecting: false,
      self: this,
      oldTimeStamp: null,
      currentData: [],
      sampleCounter: 0
    };
  },

  created() {
    console.log("Devices created, devices:", this.devices);
  },

  async mounted() {
    console.log("Mounting...");

    console.log(localStorage.getItem("deviceKeyPairs"));
    if (localStorage.getItem("deviceKeyPairs") !== null) {
      console.log("Mounting continues...");
      try {
        this.deviceKeyPairs = new Map(
          JSON.parse(localStorage.getItem("deviceKeyPairs"))
        );
        console.log(this.deviceKeyPairs.size);
        // Get connected device.
        let connectedDevice = await this.getConnectedDevice();

        let deviceId = connectedDevice.id;
        console.log("Id of connected device:", deviceId);
        miband3.init(deviceId, this.deviceKeyPairs.get(deviceId));
        console.log(miband3.isConnected());
      } catch (err) {
        console.log(err);
      }
    }
    await this.updateUI();
  },

  methods: {
    async connect(device) {
      try {
        if (!this.keyMapExists()) {
          await this.createKeyMap();
        }
        if (!this.keyExists(device.id)) {
          await this.createKey(device.id);
        }
        miband3.init(device.id, this.deviceKeyPairs.get(device.id));

        device.connected = await miband3.isConnected();
        this.self.$emit("save-devices", null);
        console.log("Is connected:", device.connected);
        if (!device.connected) {
          console.log("Connecting...");
          await miband3.connect();
          if (!device.authenticated) {
            console.log("Authenticating...", device.id);
            await miband3.authenticate(device.authenticated);
            device.authenticated = true;
            device.connected = true;
            this.self.$emit("save-devices", null);
            await miband3.setupDevice();
          } else {
            await miband3.authenticate(device.authenticated);
            device.authenticated = true;
            device.connected = true;
            this.self.$emit("save-devices", null);
          }
          await miband3.stopAllNotifications();
          await this.disconnectAllOtherDevices(device.id);
          await this.updateUI();
        } else {
          console.log("Disconnecting...");
          await miband3.disconnect();
          device.connected = false;
          this.updateUI();
        }
      } catch (err) {
        if (err != undefined) {
          console.error(err);
          if (err.errorMessage === "Peripheral Disconnected") {
            device.connected = false;
            this.connect(device);
          }
        }
      }
    },

    keyExists(deviceId) {
      console.log(
        "Key exists:",
        this.deviceKeyPairs.get(deviceId) !== null &&
          this.deviceKeyPairs.get(deviceId) !== undefined
      );
      return (
        this.deviceKeyPairs.get(deviceId) !== null &&
        this.deviceKeyPairs.get(deviceId) !== undefined
      );
    },

    keyMapExists() {
      console.log("Key map exists:", !!this.deviceKeyPairs === undefined);
      if (this.deviceKeyPairs === undefined) {
        return false;
      } else {
        return true;
      }
    },

    async createKeyMap() {
      console.log("Creating key map...");
      this.deviceKeyPairs = new Map();
      this.persist(this.deviceKeyPairs, "deviceKeyPairs");
      return;
    },

    async createKey(deviceId) {
      let key = await miband3.generateKey();
      this.deviceKeyPairs.set(deviceId, key);
      this.persist(this.deviceKeyPairs, "deviceKeyPairs");
      return;
    },

    async disconnectAllOtherDevices(deviceId) {
      console.log("Disconnecting devices");
      for (let device in this.devices) {
        console.log(
          "Device to keep:",
          deviceId,
          "Device to disconnect:",
          this.devices[device].id
        );
        if (this.devices[device].id !== deviceId) {
          miband3.init(
            this.devices[device].id,
            this.deviceKeyPairs.get(this.devices[device].id)
          );
          console.log("Disconnecting:", this.devices[device].id);
          try {
            await miband3.disconnect(this.devices[device].id);
          } catch (err) {
            console.log(err);
          }

          this.devices[device].connected = false;
          this.self.$emit("save-devices", null);
        }
      }
      miband3.init(deviceId, this.deviceKeyPairs.get(deviceId));
      return;
    },

    deviceAuthenticated(deviceId) {
      if (this.authDevices.includes(deviceId)) {
        return true;
      } else {
        return false;
      }
    },

    async updateIndividualUI(device) {
      console.log("Updating UI with device...", device);
      if (device.connected) {
        let icon = document.getElementById(device.id);
        icon.classList.remove("disconnected");
        icon.classList.add("connected");
      } else {
        let icon = document.getElementById(device.id);
        icon.classList.remove("connected");
        icon.classList.add("disconnected");
      }
      return;
    },

    async getConnectedDevice() {
      for (let device in this.devices) {
        if (this.devices[device].connected) {
          console.log("Found connected device:", this.devices[device]);
          return this.devices[device];
        }
      }
      return null;
    },

    async updateUI() {
      console.log("Updating entire UI");
      for (let device in this.devices) {
        await this.updateIndividualUI(this.devices[device]);
      }
      return;
    },

    dataCallback(data) {
      data.timestamp.setMilliseconds(0);
      if (!this.oldTimeStamp) {
        this.oldTimeStamp = data.timestamp;
      }
      if (Array.isArray(data.data)) {
        if (data.timestamp.getTime() === this.oldTimeStamp) {
          this.currentData = this.currentData.concat(data.data);
        } else {
          this.oldTimeStamp = data.timestamp.getTime();
          csvExport.addNewHRData(this.currentData);
          this.currentData = [];
          this.currentData = this.currentData.concat(data.data);
        }
      }
      // csvExport.createAsCSVAndStore(data, "HR")
    },

    errorCallback() {
      console.log("Err happened!");
    },

    async stopNotification1() {
      console.log("Retreiving csv");
      // console.log("Miband3 device", miband3.deviceId)
      // await miband3.stopNotification(
      //   miband3.mibandCustomService0,
      //   miband3.fetchCharacteristic
      // )
      // return
      csvExport.addTimeToData();
      csvExport.convertToCSV();
      let csv = csvExport.getStoredCSV();
      let fileEntry = await csvExport.requestFileSystem();
      console.log(fileEntry);
      csvExport.writeFile(fileEntry, csv);
      console.log(fileEntry.fullPath);
    },

    async eraseCurrentData() {
      csvExport.deleteHRData();
    },
    async startNotification2() {
      await miband3.startActivityNotifications();
      return;
    },
    async stopNotification2() {
      console.log("Miband3 device", miband3.deviceId);
      await miband3.stopNotification(
        miband3.mibandCustomService0,
        miband3.activityCharacteristic
      );
      return;
    },
    async persist(data, dataName) {
      if (data instanceof Map) {
        localStorage.setItem(dataName, JSON.stringify(Array.from(data)));
        return;
      }
      const parsed = JSON.stringify(data);
      console.log("Parsed:", parsed);
      localStorage.setItem(dataName, parsed);
      return;
    }
  }
};
</script>

<style scoped>
.connected {
  color: green;
}
.disconnected {
  color: red;
}
</style>
