<template>
<div class="q-pa-md">
  <q-layout view="hHh Lpr lff">
    <q-header>
      <q-toolbar>
        <q-btn flat @click="drawer = !drawer" round dense icon="menu"/>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="drawer"
      show-if-above
      :width="200"
      :breakpoint="500"
    >
      <q-scroll-area class="fit">
        <q-list padding class="menu-list">
          <q-item 
          v-for="item in navigationItems"
          :key="item.label"
          :to="item.route"
          clickable
          v-ripple 
          exact
          >
            <q-item-section avatar>
              <q-icon :name="item.iconName"/>
            </q-item-section>
            <q-item-section>
                <q-item-label>{{item.label}}</q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-scroll-area>
    </q-drawer>
      <q-page-container>
        <router-view />
      </q-page-container>
    </q-layout>
</div>
</template>

<script>
export default {
  data () {
    return {
      drawer: false,
      navigationItems: [
        {
          iconName: 'search',
          label: 'Search',
          route: '/'
        },
        {
          iconName: 'favorite',
          label: 'Heart Rate',
          route: '/heart'
        },
        {
          iconName: 'directions_walk',
          label: 'Step count',
          route: '/step'
        },
        {
          iconName: 'bedtime',
          label: 'Sleep analysis',
          route: '/sleep'
        },
        {
          iconName: 'face',
          label: 'Profile',
          route: '/profile'
        },
        {
          iconName: 'devices',
          label: 'Device',
          route: '/deviceInfo'
        },
         {
          iconName: 'get_app',
          label: 'Stored data',
          route: '/storedData'
        }
      ],
    }
  }
}
</script>

<style lang="sass" scoped>
.menu-list .q-item
  border-radius: 0 32px 32px 0
</style>
